*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}
main{
    
    margin-left: 10px;
    margin-right: 20px;
}

h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(15, 66, 49);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar li{
    float: left;
}

aside{
    width: 20%;
    float: left;
    padding: 10px;
}
section{
    width: 40%;
    float: left;
    padding: 10px;
}
article{
    width: 40%;
    float: left;
    padding: 10px;
}
header{
    background-color: aliceblue;
    text-align: center;
    pad: 25px;
}
footer{
    background-color: aliceblue;
    text-align: center;
    pad: 25px;
    display: block;
}
@media screen and (max-width:600px) {
    aside, section, article{
        width: 100%;
    }
    
}